@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Prompt', sans-serif;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  height: 100vh;
  background-image: url("../assets/images/profile-card-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-pic {
  position: relative;
  display: inline-block;
  /* bottom: 300px; # move top corner*/
  /* right: 550px; # move top corner*/
  border: 3px solid white;
  margin: auto;
  border-radius: 50%;
  background-size: 200px 200px;
}

.avatar-pic img {
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 1;
}

.user-name {
  position: relative;
  right: 600px;
  font-size: 28px;
  font-weight: 600;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  align-items: center;
  cursor: default;
}

/* UPLOAD AVATAR PIC CONFIG */
#ava_file_id {
  display: none;
}

#upload_ava_pic_id {
  position: absolute;
  top: calc(100% - 0px);
  left: calc(100% - 25px);
  transform: translate(-50%, -50%);
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.avatar-pic:hover #upload_ava_pic_id {
  /* turn visible on hover */
  opacity: 1;
  transform: translate(-50%, -50%);
}

#upload_ava_pic_id .fa-camera {
  /* camera icon */
  font-size: 26px;
  color: black;
  position: absolute;
  top: calc(100% - 25px);
  left: calc(100% - 25px);
  transform: translate(-50%, -50%);
}

#upload_ava_pic_id:before {
  /*transparent circle background*/
  content: "";
  position: absolute;
  top: calc(100% - 25px);
  left: calc(100% - 25px);
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(100, 100, 100, 0.5);
  box-shadow: 0 50px 50px 0 rgba(0, 0, 0, 0.2);
  text-align: center;
}



